<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/home"><img src="/static/images/homeicon.png" class="logo" alt="logo"></a>
            <a class="navbar-brand" href="/tableview"><img src="/static/images/dataicon.png" class="logo" alt="logo"></a>
            <a class="navbar-brand" href="/upload"><img src="/static/images/uploadicon.png" class="logo" alt="logo"></a>
            <span class="icon-bar"></span>

        </div>
    </div>
</nav>

